dist
out
node_modules
web_modules
.vscode-test/
*.vsix
*.zip
.DS_Store
.cache

examples/**/package-lock.json
examples/**/i18n-ally-reviews.yml
package.nls.*
stats.json

test-resources
test/**/temp/
test/e2e-out/
test/e2e-fixtures-temp/
test/fixtures-temp/
test/fixture-scripts-out/
/.idea/
