.vscode/**
.vscode-test/**
node_modules
out/**
dist/test/**
dist/**/*.map
src/**
.gitignore
.editorconfig
.eslintrc.js
.eslintignore
tsconfig.json
tslint.json
test/**
webpack.config.js

# Externals
!node_modules/nodejieba/**
!node_modules/esm/**
