*.json       @terales @kibertoad @anilkk
*.js         @terales @kibertoad @anilkk
*.ts         @terales @kibertoad @anilkk
*.md         @terales @kibertoad @anilkk
package.json @terales @kibertoad @anilkk
